@import "partials/reset";
@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css");
@import url('https://fonts.googleapis.com/css?family=Rozha+One');

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

body > header {
	position: absolute;
	top: 2em;
	left: 2em;
	padding: 1.4em;
	max-width: 27em;
	background-color: rgba(0,0,0,0.7);
	z-index: 9;

	h1 {
		font-size: 2.3em;
		font-family: 'Rozha One';
		line-height: 1.2;
		color: #fff;
	}

	p {
		color: #fff;
		line-height: 1.4;
		opacity: 0.8;
		margin-top: 0.2em;
	}
}

.marker {
	transition: opacity 0.1s ease-in;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup-content {
	font-weight: 600;
	padding: 10px;
}

.loader {
	display: none;
	position: fixed;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	border: 10px solid #fff;
	border-top: 10px solid #E63946;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 0.6s linear infinite;
}

.loader.show {
	display: block;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#detail.show {
	display: block;
}

#map {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

#detail {
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	right: 0;
	z-index: 66;
	display: none;
}

.detail-wrapper {
	max-width: 58em;
	margin: 2em auto;
	padding: 4em;
	position: relative;

	header {
		margin-bottom: 2em;

		h3 {
			font-size: 1.8em;
			text-align: center;
			font-weight: 700;
			color: #fff;
		}

		p {
			color: #fff;
			text-align: center;
			opacity: 0.7;
			margin-top: 0.3em;
		}
	}

	ul {
		line-height: 0;
		column-count: 5;
		column-gap: 0;

		li {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	a {
		position: fixed;
		right: 2em;
		top: 2em;
		height: 12px;
		width: 12px;
		transform: scale(2);

		svg line {
			stroke: #fff;
		}
	}
}